$primary: #4A773C;
$secondary: #6F4F28;
$warning: #5F9AAB;
$font-family-sans-serif: "Raleway", sans-serif !default;
$font-family-serif: "Nunito", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";