@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

/* START */
/* GENERAL */

.color-principal {
  color: #f5f5dc;
}

a {
  text-decoration: none;
  color: #f5f5dc;
}

/* END* /
/* GENERAL */

/* START */
/* Header */

.navbar-brand {
  font-family: "Pacifico";
  color: #f5f5dc;

  &:hover {
    color: #f5f5dc;
  }
}

.nav-link {
  color: #f5f5dc;

  &:hover {
    color: #f5f5dc;
    font-weight: bold;
    border-bottom: solid 1px #f5f5dc;
  }
}

.navbar-toggler {
  border-color: #f5f5dc;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f5f5dc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* END */
/* HEADER */

/* START */
/* FOOTER */

footer {
  color: #f5f5dc;
}

.bi {
  color: #f5f5dc;
  border-color: #f5f5dc;
}

/* END */
/* FOOTER */
